<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="vieport" content="width=device-width, initial-scale=1.0">
            <title>お食事チェック</title>
            <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
            <link rel="stylesheet" href = "/css/style.css">
            <script src="/send_url.js"></script>
            <link rel="stylesheet" href="responsiv.css">
        </head>
        
        <body>
            <%- include('header'); %>

            <div class="container">
                <div class="container-header">
                    <h1>Beauty みっしょん</h1>
                </div>
                <div class="index-table-wrapper">
                  <div class="table-head">
                    <span class="id-column">ID</span>
                    <span>TODAYSこんぷりーと</span>
                  </div>
                  <ul class="table-body">
                      <% mission.forEach((item) =>{ %>
                        <li>
                          <div class="item-data">
                            <span class="id-column"><% item.id %></span>
                            <span class="name-column"><%= item.name %></span>
                          </div>
                        </li>
                      <% }); %>
                    </ul>
                </div>
              </div>
            
        </body>
    </html>
